#review-textarea{
    height: 150px;
}

.checked {
    color: orange;
  }
.stars{
    padding-left: 20px;
    
}
.small-img{
    
        height:80px;
        width: 80px;
}
.indent{
    padding-left:20px;
}
.profile-img{

    width:50%;
}